{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<style>
    .table td,
    .table th {
        vertical-align: middle
    }
</style>

<h1>Base data </h1>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="row">\[N_{ed}=\]</th>
            <td>{{ bar.axial_force }} kN</td>
            <th scope="row">\[e=\]</th>
            <td>{{ bar.eccentricity }} mm</td>
            <th scope="row">\[M_{ed}=\]</th>
            <td>{{ bar.bending_moment }} kNm</td>
            <th scope="row">\[L=\]</th>
            <td>{{ bar.length_profile }} m</td>
            <th scope="row">\[\frac{1}{x}=\]</th>
            <td>{{ bar.limit_deformation }}</td>
            <th scope="row">\[Steel=\]</th>
            <td>{{ bar.steel }}</td>
            <th scope="row">\[\ Country= \]</th>
            <td>{{ bar.country }}</td>
        </tr>
        <tr>
            <th scope="row">\[Profile=\]</th>
            <td>{{ bar.profile.name }}</td>
            <th scope="row">\[A=\]</th>
            <td>{{ bar.profile.A }} mm^2</td>
            <th scope="row">\[I_{y}=\]</th>
            <td>{{ bar.profile.Iy }} mm^4</td>
            <th scope="row">\[i_{y}=\]</th>
            <td>{{ bar.detailed.profile_radius_gyration|floatformat:2 }} mm</td>
            <th scope="row">\[W_{ply}=\]</th>
            <td>{{ bar.profile.Wply }} mm^3</td>
            <th scope="row">\[curve[c]=\]</th>
            <td>{{ bar.detailed.buckling_curve }}</td>
            <th scope="row">\[\mu =\]</th>
            <td>{{ bar.detailed.buckling_factor }}</td>
        </tr>
    </table>
</div>

<h1>Detailed Data </h1>
<table class="table">
    <tbody>
    <tr>
        <th scope="row">\[L_{cr}=\mu\times L \]</th>
        <td>{{ bar.detailed.buckling_length|floatformat:2 }} m</td>
    </tr>

    <tr>
        <th scope="row">\[\epsilon=(\frac{235}{fy})^{0.5}\]</th>
        <td>{{ bar.detailed.epsilon|floatformat:2 }}</td>
    </tr>
    <tr>
        <th scope="row">\[ \lambda_{1} = \frac{L_{cr}}{i_{y}} \]</th>
        <td>{{ bar.detailed.lambda_slenderness_1|floatformat:2 }}</td>
    </tr>
    <tr>
        <th scope="row">\[ \overline\lambda = \frac{L_{cr}}{i}\times\frac{1}{\lambda_{1}} \]</th>
        <td>{{ bar.detailed.lambda_relative_slenderness|floatformat:2 }}</td>
    </tr>
    <tr>
        <th scope="row">\[ \theta=0,5\times \left[1 + \alpha\left(\overline\lambda -
            0,2\right)+\overline\lambda^{2}\right] \]
        </th>
        <td>{{ bar.detailed.theta_reduction_factor|floatformat:2 }}</td>
    </tr>
    <tr>
        <th scope="row">\[ \chi=\frac{1}{\theta+\sqrt{\theta^{2}-\overline\lambda^{2}}} \]</th>
        <td>{{ bar.detailed.chi_reduction_factor|floatformat:2 }}</td>
    </tr>
    <tr>
        <th scope="row">\[ N_{t,Rd}=\frac{ A \times f_{y}}{\gamma_{m1}} \]</th>
        <td>{{ bar.detailed.tension_capacity|floatformat:2 }} kN</td>
    </tr>
    <tr>
        <th scope="row">\[ N_{b,Rd}=\frac{\chi\times A \times f_{y}}{\gamma_{m1}} \]</th>
        <td>{{ bar.detailed.compression_capacity|floatformat:2 }} kN</td>
    </tr>
    <tr>
        <th scope="row">\[ N_{b,Rd}=\frac{\chi\times A \times f_{y}}{\gamma_{m1}} \]</th>
        <td>{{ bar.detailed.compression_capacity|floatformat:2 }} kN</td>
    </tr>
    <tr>
        <th scope="row">\[ M_{total} = M_{ed}+ M_{g}+M_{ecc} \]</th>
        <td>{{ bar.detailed.total_bending|floatformat:2 }} kNm</td>
    </tr>
    <tr>
        <th scope="row">\[ M_{y,Crd} = \frac{W_{ply}\times f_{y}}{\gamma_{m1}} \]</th>
        <td>{{ bar.detailed.bending_capacity|floatformat:2 }} kNm</td>
    </tr>
    <tr>
        <th scope="row">\[ f_{total} = f_{ed}+ f_{g}+f_{ecc} \]</th>
        <td>{{ bar.detailed.total_deflection|floatformat:2 }} mm</td>
    </tr>
    <tr>
        <th scope="row">\[ U_{rT}=\frac{ N_{ed}}{N_{t,rd}}+\frac{ M_{total}}{M_{y,Crd}} \]</th>
        <td>{{ bar.utilization_tension|floatformat:2 }}</td>
    </tr>
    <tr>
        <th scope="row">\[ U_{rD}=\frac{ N_{ed}}{N_{R,rd}}+\frac{ M_{total}}{M_{y,Crd}} \]</th>
        <td>{{ bar.utilization_compression|floatformat:2 }}</td>
    </tr>
    <tr>
        <th scope="row">\[ U_{f}=\frac{ f_{total}}{f_{limit}} \]</th>
        <td>{{ bar.utilization_deformation|floatformat:2 }}</td>
    </tr>
    </tbody>
</table>

{% include "back_to_up.html" %}

{% endblock content %}
