{% extends "base.html" %}
{% block title %}
Corner - {{ corner.case }}
{% endblock title %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Description</th>
        <th scope="col">Detailed Data</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Case</th>
        <td>{{ ridge.case }}</td>
    </tr>
    <tr>
        <th scope="row">Left Girder angle [degree]</th>
        <td>{{ ridge.left_girder_angle }}</td>
    </tr>
    <tr>
        <th scope="row">Right Girder angle [degree]</th>
        <td>{{ ridge.right_girder_angle }}</td>
    </tr>
    <tr>
        <th scope="row"> Girder height [mm]</th>
        <td>{{ ridge.girder_height }}</td>
    </tr>
    <tr>
        <th scope="row">Thickness of flange in left girder [mm]</th>
        <td>{{ ridge.left_t_flange_girder }}</td>
    </tr>
    <tr>
        <th scope="row">Thickness of flange in right girder [mm]</th>
        <td>{{ ridge.right_t_flange_girder }}</td>
    </tr>
    <tr>
        <th scope="row">Thickness of plate in connection [mm]</th>
        <td>{{ ridge.t_plate_connection }}</td>
    </tr>
    <tr>
        <th scope="row">Bolt grade</th>
        <td>{{ ridge.bolt_grade }}</td>
    </tr>
    <tr>
        <th scope="row">Bolt diameter</th>
        <td>{{ ridge.bolt_diameter }}</td>
    </tr>
    <tr>
        <th scope="row">Creating date</th>
        <td>{{ ridge.created_date|date:"Y-m-d H:i" }}</td>
    </tr>
    <tr>
        <th scope="row">Distance when mounting from left [mm]</th>
        <td>{{ ridge.distance_left }}</td>
    </tr>
    <tr>
        <th scope="row">Distance when mounting from right [mm]</th>
        <td>{{ ridge.distance_right }}</td>
    </tr>
    </tbody>
</table>
{% endblock content %}
