{% extends "base.html" %}
{% block content %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date of joints</th>
            <th scope="col">Date of last login</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.date_joined|date:"Y-m-d H:i" }}</td>
            <td>{{ user.last_login|date:"Y-m-d H:i" }}</td>
            <td><a class="btn btn-outline-primary btn-sm" href=" {% url 'change_password' %}" role="button">Change </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock content %}
